<div id="not_authorized_message">
    <h2>Not Authorized</h2>
    <p>Your user account is not yet authorized to use this system.</p>
    <p>
        Please contact the
        <a href="mailto:aimahead-swb-registration@hms.harvard.edu"
           aria-label="The Service Work Bench Registration Email."
           title='The Service Work Bench Registration Email.'>
            PIC-SURE Administrator
        </a>
        to complete account activation.
    </p>
    <p>If you believe you logged in using the wrong account, please <a
            href="{{loginLink}}">Click Here</a> to try logging in again.</p>
</div>
<script>sessionStorage.clear();
localStorage.clear();</script>